@page
@model unibook.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Unibook</h1>
    <p>
        Search for books:
    </p>
</div>
<div class="col-md-auto">
    <form asp-controller="Listings" asp-action="=" Index">
        <p>
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="query">
        </p>
    </form>
</div>
<h4>Current listings</h4>
<p>@(Model.Listings.Count) Results</p>
<div class="row" runat="server"  style="margin-left: 0px; margin-right: 0px; width: 100%;">

    @foreach (var listing in Model.Listings)
    {
        <div class="card" style=" margin-right: 1%; margin-bottom: 1%; width: 24%;">
            <img class="card-img-top" src="~/Images/ListingImages/@listing.ListingImage" alt="Card image cap" style="height: 312px;" runat="server"/>
            <div class="card-body">
                <h5 class="card-title">
                    @Html.DisplayFor(model => listing.Book.Title)
                </h5>
                <p>
                    <b>
                    @Html.DisplayNameFor(model => listing.Price):
                    </b>
                    @Html.DisplayFor(model => listing.Price) kr
                </p>
                <p>
                    <b>
                    @Html.DisplayNameFor(model => listing.BookISBN):
                    </b>
                    @Html.DisplayFor(model => listing.BookISBN)
                </p>
                    <a asp-page="./Listing" asp-route-id="@listing.Id" class="btn btn-primary">Go to listing</a>
            </div>
        </div>
    }
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
