@page "{id:int?}"
@model unibook.Pages.ListingModel
@{
    ViewData["Title"] = "Listing";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Identity
@using unibook.Models
@inject SignInManager<User> SignInManager

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <ul style="padding-left: 0%">
                <li class="list-group-item"> <b>Listing Information</b> </li>
                <li class="list-group-item"><b>Title:</b> @Html.DisplayFor(model => model.Listing.Book.Title)</li>
                <li class="list-group-item"><b>Price: </b> @Html.DisplayFor(model => model.Listing.Price)</li>
                <li class="list-group-item"><b>ISBN:</b> @Html.DisplayFor(model => model.Listing.Book.ISBN)</li>
                <li class="list-group-item"><b>Author:</b> @Html.DisplayFor(model => model.Listing.Book.Author)</li>
                <li class="list-group-item"><b>Edition:</b> @Html.DisplayFor(model => model.Listing.Book.Edition)</li>
                <li class="list-group-item"><b>University:</b> @Html.DisplayFor(model => model.Listing.University)</li>
                <li class="list-group-item"><b>Study:</b> @Html.DisplayFor(model => model.Listing.Study)</li>
            </ul>
            @if (Model.ShowEdit || Model.AdminEdit)
            {
                <a asp-page="./EditListing" asp-route-id="@Model.Listing.Id" class="btn btn-primary">Edit Listing</a>
            }
        </div>
        <div class="col-sm-4">
            <img style="border: 3px solid #000000; height: 412px; width: 340px" src="/Images/ListingImages/@Model.Listing.ListingImage" alt="billed">
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Seller: <a asp-page="./ProfilePage" asp-route-id="@Model.Listing.UserId">@Html.DisplayFor(model => model.Listing.User.Name)</a>
                    </div>
                    <img class="card-img-top" src="/Images/UserImages/@Model.Listing.User.ImageName" alt="billed" style="max-width: 30%; max-height:30%; padding-left: 2%;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: @Html.DisplayFor(model => model.Listing.User.Name)</li>
                        <li class="list-group-item">University: @Html.DisplayFor(model => model.Listing.User.University)</li>
                    </ul>
                </div>
            </div>
        }
        @if (!SignInManager.IsSignedIn(User))
        {<div class="col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Seller: <a asp-area="Identity" asp-page="/Account/Login">Please login to see seller information.</a>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name: </li>
                        <li class="list-group-item">University: </li>
                    </ul>
                </div>
            </div>

        }



    </div>
</div>

